/* General Styling */
body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('loginbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-container form{
    
    align-items: left;
}
h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 3rem;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

.signup-container form input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #e45b1c;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #d77649;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* Responsive styling */
@media (max-width: 768px) {
    .signup-container {
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }
    input, button {
        font-size: 16px;
    }
}
